/*Index*/
#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
    gap: 0.5rem
}

#vav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: rgb(173, 221, 230);
}

#nav a{
    text-decoration: none;
}

/* Modelo de caja */
.padre{
    background-color: chartreuse;
    padding: 20px;
}
.hijo{
    background-color: aqua;
    padding: 100px;
    border: 10px solid blue;
    margin: 30px;
}

/* contenedor */
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: red;
    gap: 1rem
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}
.card img{
    width: 100%;
    border-radius: 8px;
}

.card p{
    color: #fff;
    background-color: black;
}